.AddProduct {
  padding: 10px;
  border: 1px solid;
  border: 10px;
  width: 250px;

  .addSetting {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .addImg {
      width: 230px;
      height: 200px;
      border: 1px dashed;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input{
        display: none;
      }
    }
    .AddBottom{
        display: flex;
        flex-direction: column;

        .inputName{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 1px;
        }
        .inputAccept{
            display: flex;
            gap: 5px;
        }
        .acept{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;

            .inputSize{
                display: flex;
                gap: 5px;
            }
        }
        
    }
  }
  button{
    width: 100%;
    padding: 5px 0px;
    margin-top: 10px;
  }
}
