.profil {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 0;
  overflow: hidden;

  .leftProfil {
    font-family: "Roboto", sans-serif;
    .myAccaunt {
      font-weight: 700;
      color: #3d3d3d;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .accauntDitels {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid #46a35880;

      .accauntDetal-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 9px 18px;
        color: #727272;
      }
      .accauntDetal-item-active {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 9px 18px;
        color: #46a358;
        border-left: 2px solid #46a358;
      }
    }
  }
  .accauntLogout {
    padding: 9px 18px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    color: #46a358;
    background-color: #fff;
  }

  .profilLoadung {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
  }
}
@media (max-width: 700px) {
  .profil .leftProfil .accauntDitels .accauntDetal-item {
    span {
      display: none;
    }
  }
  .profil .leftProfil .accauntDitels .accauntDetal-item-active {
    span {
      display: none;
    }
  }
  .korzina {
    flex-direction: column;
  }
  .logOut{
    span{
      display: none;
    }
  }
  .profil .leftProfil .myAccaunt {
    font-size: 13px;
  }
}
