.product-img:hover {
  border-top: 1px solid #46a358;
  .bottom-img {
    bottom: 24px;
    opacity: 1;
  }
}
.product-img{
    overflow: hidden;
}
.bottom-img {
  position: relative;
  opacity: 0;
  bottom: -100px;
  transition: all 0.3s;
  z-index: 10;
  padding-top: 20px;
  .bottom-imger {
    width: 20px;
    position: absolute;
    margin-left: 10px;
    margin-left: 45%;
    cursor: pointer;
    transition: all 0.3s;
  }
  .bottom-imger2 {
    width: 20px;
    position: absolute;
    margin-left: 10px;
    margin-left: 60%;
    cursor: pointer;
    transition: all 0.3s;
  }
  .bottom-imger1 {
    width: 20px;
    position: absolute;
    margin-left: 30%;
    cursor: pointer;
    transition: all 0.3s;
  }
  img:hover {
    scale: 1.04;
  }
}
