.greenshop-product {
  z-index: 1;
}
.product-img {
  position: relative;
  background-color: #fbfbfb;
  overflow: hidden;
  .imger {
    width: 100%;
  }
  .bottom-img {
    position: relative;
    opacity: 0;
    bottom: -100px;
    transition: all 0.3s;
    z-index: 10;
    .bottom-imger {
      width: 20px;
      position: absolute;
      margin-left: 10px;
      margin-left: 45%;
      cursor: pointer;
      transition: all 0.3s;
    }
    .bottom-imger2 {
      width: 20px;
      position: absolute;
      margin-left: 10px;
      margin-left: 60%;
      cursor: pointer;
      transition: all 0.3s;
    }
    .bottom-imger1 {
      width: 20px;
      position: absolute;
      margin-left: 30%;
      cursor: pointer;
      transition: all 0.3s;
    }
    img:hover {
      scale: 1.04;
    }
  }
}
.product-img:hover {
  border-top: 1px solid #46a358;
  .bottom-img {
    bottom: 24px;
    opacity: 1;
  }
}
.product-sale {
  margin-top: 12px;

  .product-name {
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
    font-family: "Roboto", sans-serif;
  }
  .product-price {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #46a358;
    font-family: "Roboto", sans-serif;
  }
}
.product-sale-bag {
  display: none;
}
@media (max-width: 700px) {
  .imger {
    width: 100%;
  }
  .greenshop-product {
    z-index: 1;
  }
  .bottom-img {
    display: none;
  }
  .product-sale {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .product-sale-bag {
      display: block;

      .bottom-imger12 {
        width: 20px;
        z-index: 9;
        cursor: pointer;
      }
    }
  }
}
